:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

main {
  position: absolute;
  height: 3000%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit, minmax(240px, 1fr));
}

#startSec {
  margin: 10%;
}

#mug {
  width: 40%;
  right: 20%;
  border-radius: 5%;
}

span {
  padding: 10rem;
}

#sec1top{
  background-color: #213547;
}

#sec2blank {

}

#sec3 {
  background-color: aquamarine;
}

#sec4blank{

}

#sec5head {
  background-color: black;
  display: grid;
  gap: 2%;
  grid-template-rows: 1fr auto auto 1fr;
}

#sec6blank {

}

#sec7{
  background-color: darkmagenta;
}

#sec7 div{
  line-height: 20px;
}

#sec7 h3{
  margin: 0;
  padding: 0;
  font-size: 12pt;
}

#sec7 p{
  padding: 0;
  font-size: 8pt;
}

#sec8blank{

}

#sec9last {
  background-color: #213547;
}

#sec1top h1, #sec9last h1{
  font-size: 26pt;
}

.skillRow{
  display: grid;
  gap: 5%;
  align-content: center;
  grid-template-columns: 2fr 1fr 1fr
}

.skillList{
  text-align: right;
}

.knowList{
  display: flex;
  background-color: beige;
  border-radius: 50vh;
  transition: 2s;
  height: 1.75em;
  top: 1.75em;
  position: relative;
}

.exList{
  display: flex;
  background-color: beige;
  border-radius: 50vh;
  transition: 2s;
  height: 1.75em;
  top: 1.75em;
  position: relative;
}

.progress-bar{
  display: flex;
  justify-content: center;
  white-space: nowrap;
  border-radius: 50vh;
  overflow: hidden;
}

.bg-primary{
  background-color: aqua !important;
}

video{
  width: 100%;
}

.vidPort{
  grid-row: span 2 / auto;
}

.vidLand{
  grid-column: span 2 / auto;
}

blockquote {
}

section {
  /*padding: 1rem 1rem 100rem;*/
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.effect.effect-twelve {
  background: #42b078;
  display: contents;
  position: absolute;
}

.effect-twelve .tab-text h2 {
  position: relative;
  padding: .5em 0;
  text-align: left;
  overflow: hidden;
  margin: 0;
}

.effect.effect-twelve h2:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  transform: translate3d(-100%, 0, 0);
  transition: all .35s;
  -webkit-transform: translate3d(-100%, 0, 0);
  -webkit-transition: all .35s;
}

.effect.effect-twelve:hover h2:after {
  transform: translate3d(0, 0, 0);
}

.effect-twelve .tab-text p {
  padding: .7em 0;
  font-size: .8rem;
  text-align: left;
  line-height: 1.1;
  transform: translate3d(100%, 0, 0);
  -webkit-transform: translate3d(100%, 0, 0);
  opacity: 0;
  transition: all .35s;
  -webkit-transition: all .35s;
}

.effect-twelve:hover p {
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  opacity: 1;
}

.effect.effect-twelve img {
  opacity: 1;
  transform: translate3d(-10px, 0, 0);
  transition: all .35s;
  -webkit-transform: translate3d(-10px, 0, 0);
  -webkit-transition: all .35s;
  width: 100%;
}

.effect.effect-twelve:hover img {
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  opacity: .4;
}

.colum-12{
  float: left;
  padding: 15px;
}

.tab-text{
  position: absolute;
  padding: 0 1em;
  top: 0;
  width: 85%;
  overflow: hidden;
}

.imageCont{
  position: relative;
}

